openapi: 3.2.0
info:
  title: Independence Blue Cross Patient Access API
  version: 1.0.0
  description: 'Operations tagged Patient Access across 2 of this provider''s published API definitions: independence-blue-cross-cms-swagger.json, independence-blue-cross-patient-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://eapics.ibx.com/
- url: https://eapics.ibx.com/patient/v1/fhir
  description: Production FHIR endpoint
tags:
- name: Patient Access
paths:
  /patient/v1/fhir/metadata:
    get:
      tags:
      - Patient Access
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /patient/v1/fhir/.well-known/smart-configuration:
    get:
      tags:
      - Patient Access
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /patient/v1/fhir/Patient:
    get:
      tags:
      - Patient Access
      parameters:
      - name: _id
        required: false
        in: query
        schema:
          type: string
      - name: identifier
        required: false
        in: query
        schema:
          type: string
      - name: birthdate
        required: false
        in: query
        schema:
          type: string
      - name: family
        required: false
        in: query
        schema:
          type: string
      - name: gender
        required: false
        in: query
        schema:
          type: string
      - name: given
        required: false
        in: query
        schema:
          type: string
      - name: name
        required: false
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /patient/v1/fhir/Patient/{rid}:
    get:
      tags:
      - Patient Access
      parameters:
      - name: rid
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /patient/v1/fhir/Coverage:
    get:
      tags:
      - Patient Access
      parameters:
      - name: rid
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /patient/v1/fhir/Organization:
    get:
      tags:
      - Patient Access
      parameters:
      - name: name
        required: false
        in: query
        schema:
          type: string
      - name: address
        required: false
        in: query
        schema:
          type: string
      - name: _getpages
        required: false
        in: query
        schema:
          type: string
      - name: _getpagesoffset
        required: false
        in: query
        schema:
          type: string
      - name: _count
        required: false
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /patient/v1/fhir/Organization/{rid}:
    get:
      tags:
      - Patient Access
      parameters:
      - name: rid
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /patient/v1/fhir/Practitioner:
    get:
      tags:
      - Patient Access
      parameters:
      - name: name
        required: false
        in: query
        schema:
          type: string
      - name: identifier
        required: false
        in: query
        schema:
          type: string
      - name: _getpages
        required: false
        in: query
        schema:
          type: string
      - name: _getpagesoffset
        required: false
        in: query
        schema:
          type: string
      - name: _count
        required: false
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /patient/v1/fhir/Practitioner/{rid}:
    get:
      tags:
      - Patient Access
      parameters:
      - name: rid
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /patient/v1/fhir/Location:
    get:
      tags:
      - Patient Access
      parameters:
      - name: name
        required: false
        in: query
        schema:
          type: string
      - name: address
        required: false
        in: query
        schema:
          type: string
      - name: address-city
        required: false
        in: query
        schema:
          type: string
      - name: address-state
        required: false
        in: query
        schema:
          type: string
      - name: address-postalcode
        required: false
        in: query
        schema:
          type: string
      - name: _getpages
        required: false
        in: query
        schema:
          type: string
      - name: _getpagesoffset
        required: false
        in: query
        schema:
          type: string
      - name: _count
        required: false
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /patient/v1/fhir/Location/{rid}:
    get:
      tags:
      - Patient Access
      parameters:
      - name: rid
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /patient/v1/fhir/PractitionerRole:
    get:
      tags:
      - Patient Access
      parameters:
      - name: specialty
        required: false
        in: query
        schema:
          type: string
      - name: practitioner
        required: false
        in: query
        schema:
          type: string
      - name: _getpages
        required: false
        in: query
        schema:
          type: string
      - name: _getpagesoffset
        required: false
        in: query
        schema:
          type: string
      - name: _count
        required: false
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /patient/v1/fhir/PractitionerRole/{rid}:
    get:
      tags:
      - Patient Access
      parameters:
      - name: rid
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /patient/v1/fhir/AllergyIntolerance:
    get:
      tags:
      - Patient Access
      parameters:
      - name: patient
        required: false
        in: query
        schema:
          type: string
      - name: clinical-status
        required: false
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /patient/v1/fhir/AllergyIntolerance/{rid}:
    get:
      tags:
      - Patient Access
      parameters:
      - name: rid
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /patient/v1/fhir/Immunization:
    get:
      tags:
      - Patient Access
      parameters:
      - name: patient
        required: false
        in: query
        schema:
          type: string
      - name: status
        required: false
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /patient/v1/fhir/Immunization/{rid}:
    get:
      tags:
      - Patient Access
      parameters:
      - name: rid
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /patient/v1/fhir/MedicationDispense/{rid}:
    get:
      tags:
      - Patient Access
      parameters:
      - name: rid
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /patient/v1/fhir/Observation:
    get:
      tags:
      - Patient Access
      parameters:
      - name: patient
        required: false
        in: query
        schema:
          type: string
      - name: category
        required: false
        in: query
        schema:
          type: string
      - name: date
        required: false
        in: query
        schema:
          type: string
      - name: code
        required: false
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /patient/v1/fhir/Observation/{rid}:
    get:
      tags:
      - Patient Access
      parameters:
      - name: rid
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /patient/v1/fhir/DiagnosticReport:
    get:
      tags:
      - Patient Access
      parameters:
      - name: patient
        required: false
        in: query
        schema:
          type: string
      - name: category
        required: false
        in: query
        schema:
          type: string
      - name: date
        required: false
        in: query
        schema:
          type: string
      - name: code
        required: false
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /patient/v1/fhir/DiagnosticReport/{rid}:
    get:
      tags:
      - Patient Access
      parameters:
      - name: rid
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /patient/v1/fhir/CarePlan:
    get:
      tags:
      - Patient Access
      parameters:
      - name: patient
        required: false
        in: query
        schema:
          type: string
      - name: category
        required: false
        in: query
        schema:
          type: string
      - name: status
        required: false
        in: query
        schema:
          type: string
      - name: date
        required: false
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /patient/v1/fhir/CarePlan/{rid}:
    get:
      tags:
      - Patient Access
      parameters:
      - name: rid
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /patient/v1/fhir/Condition:
    get:
      tags:
      - Patient Access
      parameters:
      - name: patient
        required: false
        in: query
        schema:
          type: string
      - name: category
        required: false
        in: query
        schema:
          type: string
      - name: clinical-status
        required: false
        in: query
        schema:
          type: string
      - name: onset-date
        required: false
        in: query
        schema:
          type: string
      - name: code
        required: false
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /patient/v1/fhir/Condition/{rid}:
    get:
      tags:
      - Patient Access
      parameters:
      - name: rid
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /patient/v1/fhir/Encounter:
    get:
      tags:
      - Patient Access
      parameters:
      - name: patient
        required: false
        in: query
        schema:
          type: string
      - name: _id
        required: false
        in: query
        schema:
          type: string
      - name: class
        required: false
        in: query
        schema:
          type: string
      - name: status
        required: false
        in: query
        schema:
          type: string
      - name: date
        required: false
        in: query
        schema:
          type: string
      - name: identifier
        required: false
        in: query
        schema:
          type: string
      - name: type
        required: false
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /patient/v1/fhir/Encounter/{rid}:
    get:
      tags:
      - Patient Access
      parameters:
      - name: rid
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /patient/v1/fhir/Goal:
    get:
      tags:
      - Patient Access
      parameters:
      - name: patient
        required: false
        in: query
        schema:
          type: string
      - name: lifecycle-status
        required: false
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /patient/v1/fhir/Goal/{rid}:
    get:
      tags:
      - Patient Access
      parameters:
      - name: rid
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /patient/v1/fhir/Medication:
    get:
      tags:
      - Patient Access
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /patient/v1/fhir/Medication/{rid}:
    get:
      tags:
      - Patient Access
      parameters:
      - name: rid
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /patient/v1/fhir/MedicationRequest:
    get:
      tags:
      - Patient Access
      parameters:
      - name: patient
        required: false
        in: query
        schema:
          type: string
      - name: intent
        required: false
        in: query
        schema:
          type: string
      - name: status
        required: false
        in: query
        schema:
          type: string
      - name: authoredon
        required: false
        in: query
        schema:
          type: string
      - name: encounter
        required: false
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /patient/v1/fhir/MedicationRequest/{rid}:
    get:
      tags:
      - Patient Access
      parameters:
      - name: rid
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /patient/v1/fhir/Procedure:
    get:
      tags:
      - Patient Access
      parameters:
      - name: patient
        required: false
        in: query
        schema:
          type: string
      - name: code
        required: false
        in: query
        schema:
          type: string
      - name: status
        required: false
        in: query
        schema:
          type: string
      - name: date
        required: false
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /patient/v1/fhir/Procedure/{rid}:
    get:
      tags:
      - Patient Access
      parameters:
      - name: rid
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /patient/v1/fhir/ExplanationOfBenefit:
    get:
      tags:
      - Patient Access
      parameters:
      - name: patient
        required: false
        in: query
        schema:
          type: string
      - name: _id
        required: false
        in: query
        schema:
          type: string
      - name: _lastUpdated
        required: false
        in: query
        schema:
          type: string
      - name: type
        required: false
        in: query
        schema:
          type: string
      - name: identifier
        required: false
        in: query
        schema:
          type: string
      - name: service-date
        required: false
        in: query
        schema:
          type: string
      - name: _getpagesoffset
        required: false
        in: query
        schema:
          type: string
      - name: _count
        required: false
        in: query
        schema:
          type: string
      - name: _getpages
        required: false
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /patient/v1/fhir/ExplanationOfBenefit/{rid}:
    get:
      tags:
      - Patient Access
      parameters:
      - name: rid
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /metadata:
    get:
      summary: Get Capability Statement
      operationId: get_metadata
      tags:
      - Patient Access
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - smart_on_fhir:
        - patient/*.read
    servers:
    - url: https://eapics.ibx.com/patient/v1/fhir
      description: Production FHIR endpoint
  /.well-known/smart-configuration:
    get:
      summary: Get SMART Configuration
      operationId: get_.well-known_smart-configuration
      tags:
      - Patient Access
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - smart_on_fhir:
        - patient/*.read
    servers:
    - url: https://eapics.ibx.com/patient/v1/fhir
      description: Production FHIR endpoint
  /Patient:
    get:
      summary: Search Patient
      operationId: get_Patient
      tags:
      - Patient Access
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - smart_on_fhir:
        - patient/*.read
    servers:
    - url: https://eapics.ibx.com/patient/v1/fhir
      description: Production FHIR endpoint
  /Patient/{rid}:
    get:
      summary: Read Patient By ID
      operationId: get_Patient_rid
      tags:
      - Patient Access
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      parameters:
      - name: rid
        in: path
        required: true
        description: FHIR resource id
        schema:
          type: string
      security:
      - smart_on_fhir:
        - patient/*.read
    servers:
    - url: https://eapics.ibx.com/patient/v1/fhir
      description: Production FHIR endpoint
  /Coverage:
    get:
      summary: Search Coverage
      operationId: get_Coverage
      tags:
      - Patient Access
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - smart_on_fhir:
        - patient/*.read
    servers:
    - url: https://eapics.ibx.com/patient/v1/fhir
      description: Production FHIR endpoint
  /Organization:
    get:
      summary: Search Organization
      operationId: get_Organization
      tags:
      - Patient Access
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - smart_on_fhir:
        - patient/*.read
    servers:
    - url: https://eapics.ibx.com/patient/v1/fhir
      description: Production FHIR endpoint
  /Organization/{rid}:
    get:
      summary: Read Organization By ID
      operationId: get_Organization_rid
      tags:
      - Patient Access
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      parameters:
      - name: rid
        in: path
        required: true
        description: FHIR resource id
        schema:
          type: string
      security:
      - smart_on_fhir:
        - patient/*.read
    servers:
    - url: https://eapics.ibx.com/patient/v1/fhir
      description: Production FHIR endpoint
  /Practitioner:
    get:
      summary: Search Practitioner
      operationId: get_Practitioner
      tags:
      - Patient Access
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - smart_on_fhir:
        - patient/*.read
    servers:
    - url: https://eapics.ibx.com/patient/v1/fhir
      description: Production FHIR endpoint
  /Practitioner/{rid}:
    get:
      summary: Read Practitioner By ID
      operationId: get_Practitioner_rid
      tags:
      - Patient Access
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      parameters:
      - name: rid
        in: path
        required: true
        description: FHIR resource id
        schema:
          type: string
      security:
      - smart_on_fhir:
        - patient/*.read
    servers:
    - url: https://eapics.ibx.com/patient/v1/fhir
      description: Production FHIR endpoint
  /Location:
    get:
      summary: Search Location
      operationId: get_Location
      tags:
      - Patient Access
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - smart_on_fhir:
        - patient/*.read
    servers:
    - url: https://eapics.ibx.com/patient/v1/fhir
      description: Production FHIR endpoint
  /Location/{rid}:
    get:
      summary: Read Location By ID
      operationId: get_Location_rid
      tags:
      - Patient Access
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      parameters:
      - name: rid
        in: path
        required: true
        description: FHIR resource id
        schema:
          type: string
      security:
      - smart_on_fhir:
        - patient/*.read
    servers:
    - url: https://eapics.ibx.com/patient/v1/fhir
      description: Production FHIR endpoint
  /PractitionerRole:
    get:
      summary: Search PractitionerRole
      operationId: get_PractitionerRole
      tags:
      - Patient Access
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - smart_on_fhir:
        - patient/*.read
    servers:
    - url: https://eapics.ibx.com/patient/v1/fhir
      description: Production FHIR endpoint
  /PractitionerRole/{rid}:
    get:
      summary: Read PractitionerRole By ID
      operationId: get_PractitionerRole_rid
      tags:
      - Patient Access
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      parameters:
      - name: rid
        in: path
        required: true
        description: FHIR resource id
        schema:
          type: string
      security:
      - smart_on_fhir:
        - patient/*.read
    servers:
    - url: https://eapics.ibx.com/patient/v1/fhir
      description: Production FHIR endpoint
  /AllergyIntolerance:
    get:
      summary: Search AllergyIntolerance
      operationId: get_AllergyIntolerance
      tags:
      - Patient Access
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - smart_on_fhir:
        - patient/*.read
    servers:
    - url: https://eapics.ibx.com/patient/v1/fhir
      description: Production FHIR endpoint
  /AllergyIntolerance/{rid}:
    get:
      summary: Read AllergyIntolerance By ID
      operationId: get_AllergyIntolerance_rid
      tags:
      - Patient Access
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      parameters:
      - name: rid
        in: path
        required: true
        description: FHIR resource id
        schema:
          type: string
      security:
      - smart_on_fhir:
        - patient/*.read
    servers:
    - url: https://eapics.ibx.com/patient/v1/fhir
      description: Production FHIR endpoint
  /Immunization:
    get:
      summary: Search Immunization
      operationId: get_Immunization
      tags:
      - Patient Access
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - smart_on_fhir:
        - patient/*.read
    servers:
    - url: https://eapics.ibx.com/patient/v1/fhir
      description: Production FHIR endpoint
  /Immunization/{rid}:
    get:
      summary: Read Immunization By ID
      operationId: get_Immunization_rid
      tags:
      - Patient Access
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      parameters:
      - name: rid
        in: path
        required: true
        description: FHIR resource id
        schema:
          type: string
      security:
      - smart_on_fhir:
        - patient/*.read
    servers:
    - url: https://eapics.ibx.com/patient/v1/fhir
      description: Production FHIR endpoint
  /MedicationDispense/{rid}:
    get:
      summary: Read MedicationDispense By ID
      operationId: get_MedicationDispense_rid
      tags:
      - Patient Access
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      parameters:
      - name: rid
        in: path
        required: true
        description: FHIR resource id
        schema:
          type: string
      security:
      - smart_on_fhir:
        - patient/*.read
    servers:
    - url: https://eapics.ibx.com/patient/v1/fhir
      description: Production FHIR endpoint
  /Observation:
    get:
      summary: Search Observation
      operationId: get_Observation
      tags:
      - Patient Access
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - smart_on_fhir:
        - patient/*.read
    servers:
    - url: https://eapics.ibx.com/patient/v1/fhir
      description: Production FHIR endpoint
  /Observation/{rid}:
    get:
      summary: Read Observation By ID
      operationId: get_Observation_rid
      tags:
      - Patient Access
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      parameters:
      - name: rid
        in: path
        required: true
        description: FHIR resource id
        schema:
          type: string
      security:
      - smart_on_fhir:
        - patient/*.read
    servers:
    - url: https://eapics.ibx.com/patient/v1/fhir
      description: Production FHIR endpoint
  /DiagnosticReport:
    get:
      summary: Search DiagnosticReport
      operationId: get_DiagnosticReport
      tags:
      - Patient Access
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - smart_on_fhir:
        - patient/*.read
    servers:
    - url: https://eapics.ibx.com/patient/v1/fhir
      description: Production FHIR endpoint
  /DiagnosticReport/{rid}:
    get:
      summary: Read DiagnosticReport By ID
      operationId: get_DiagnosticReport_rid
      tags:
      - Patient Access
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      parameters:
      - name: rid
        in: path
        required: true
        description: FHIR resource id
        schema:
          type: string
      security:
      - smart_on_fhir:
        - patient/*.read
    servers:
    - url: https://eapics.ibx.com/patient/v1/fhir
      description: Production FHIR endpoint
  /CarePlan:
    get:
      summary: Search CarePlan
      operationId: get_CarePlan
      tags:
      - Patient Access
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - smart_on_fhir:
        - patient/*.read
    servers:
    - url: https://eapics.ibx.com/patient/v1/fhir
      description: Production FHIR endpoint
  /CarePlan/{rid}:
    get:
      summary: Read CarePlan By ID
      operationId: get_CarePlan_rid
      tags:
      - Patient Access
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      parameters:
      - name: rid
        in: path
        required: true
        description: FHIR resource id
        schema:
          type: string
      security:
      - smart_on_fhir:
        - patient/*.read
    servers:
    - url: https://eapics.ibx.com/patient/v1/fhir
      description: Production FHIR endpoint
  /Condition:
    get:
      summary: Search Condition
      operationId: get_Condition
      tags:
      - Patient Access
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - smart_on_fhir:
        - patient/*.read
    servers:
    - url: https://eapics.ibx.com/patient/v1/fhir
      description: Production FHIR endpoint
  /Condition/{rid}:
    get:
      summary: Read Condition By ID
      operationId: get_Condition_rid
      tags:
      - Patient Access
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      parameters:
      - name: rid
        in: path
        required: true
        description: FHIR resource id
        schema:
          type: string
      security:
      - smart_on_fhir:
        - patient/*.read
    servers:
    - url: https://eapics.ibx.com/patient/v1/fhir
      description: Production FHIR endpoint
  /Encounter:
    get:
      summary: Search Encounter
      operationId: get_Encounter
      tags:
      - Patient Access
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - smart_on_fhir:
        - patient/*.read
    servers:
    - url: https://eapics.ibx.com/patient/v1/fhir
      description: Production FHIR endpoint
  /Encounter/{rid}:
    get:
      summary: Read Encounter By ID
      operationId: get_Encounter_rid
      tags:
      - Patient Access
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      parameters:
      - name: rid
        in: path
        required: true
        description: FHIR resource id
        schema:
          type: string
      security:
      - smart_on_fhir:
        - patient/*.read
    servers:
    - url: https://eapics.ibx.com/patient/v1/fhir
      description: Production FHIR endpoint
  /Goal:
    get:
      summary: Search Goal
      operationId: get_Goal
      tags:
      - Patient Access
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - smart_on_fhir:
        - patient/*.read
    servers:
    - url: https://eapics.ibx.com/patient/v1/fhir
      description: Production FHIR endpoint
  /Goal/{rid}:
    get:
      summary: Read Goal By ID
      operationId: get_Goal_rid
      tags:
      - Patient Access
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      parameters:
      - name: rid
        in: path
        required: true
        description: FHIR resource id
        schema:
          type: string
      security:
      - smart_on_fhir:
        - patient/*.read
    servers:
    - url: https://eapics.ibx.com/patient/v1/fhir
      description: Production FHIR endpoint
  /Medication:
    get:
      summary: Search Medication
      operationId: get_Medication
      tags:
      - Patient Access
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - smart_on_fhir:
        - patient/*.read
    servers:
    - url: https://eapics.ibx.com/patient/v1/fhir
      description: Production FHIR endpoint
  /Medication/{rid}:
    get:
      summary: Read Medication By ID
      operationId: get_Medication_rid
      tags:
      - Patient Access
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      parameters:
      - name: rid
        in: path
        required: true
        description: FHIR resource id
        schema:
          type: string
      security:
      - smart_on_fhir:
        - patient/*.read
    servers:
    - url: https://eapics.ibx.com/patient/v1/fhir
      description: Production FHIR endpoint
  /MedicationRequest:
    get:
      summary: Search MedicationRequest
      operationId: get_MedicationRequest
      tags:
      - Patient Access
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - smart_on_fhir:
        - patient/*.read
    servers:
    - url: https://eapics.ibx.com/patient/v1/fhir
      description: Production FHIR endpoint
  /MedicationRequest/{rid}:
    get:
      summary: Read MedicationRequest By ID
      operationId: get_MedicationRequest_rid
      tags:
      - Patient Access
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      parameters:
      - name: rid
        in: path
        required: true
        description: FHIR resource id
        schema:
          type: string
      security:
      - smart_on_fhir:
        - patient/*.read
    servers:
    - url: https://eapics.ibx.com/patient/v1/fhir
      description: Production FHIR endpoint
  /Procedure:
    get:
      summary: Search Procedure
      operationId: get_Procedure
      tags:
      - Patient Access
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - smart_on_fhir:
        - patient/*.read
    servers:
    - url: https://eapics.ibx.com/patient/v1/fhir
      description: Production FHIR endpoint
  /Procedure/{rid}:
    get:
      summary: Read Procedure By ID
      operationId: get_Procedure_rid
      tags:
      - Patient Access
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      parameters:
      - name: rid
        in: path
        required: true
        description: FHIR resource id
        schema:
          type: string
      security:
      - smart_on_fhir:
        - patient/*.read
    servers:
    - url: https://eapics.ibx.com/patient/v1/fhir
      description: Production FHIR endpoint
  /ExplanationOfBenefit:
    get:
      summary: Search ExplanationOfBenefit
      operationId: get_ExplanationOfBenefit
      tags:
      - Patient Access
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - smart_on_fhir:
        - patient/*.read
    servers:
    - url: https://eapics.ibx.com/patient/v1/fhir
      description: Production FHIR endpoint
  /ExplanationOfBenefit/{rid}:
    get:
      summary: Read ExplanationOfBenefit By ID
      operationId: get_ExplanationOfBenefit_rid
      tags:
      - Patient Access
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      parameters:
      - name: rid
        in: path
        required: true
        description: FHIR resource id
        schema:
          type: string
      security:
      - smart_on_fhir:
        - patient/*.read
    servers:
    - url: https://eapics.ibx.com/patient/v1/fhir
      description: Production FHIR endpoint
components:
  securitySchemes:
    smart_on_fhir:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://member.ibx.com/patientaccesssvc/oauth2/v1/authorize
          tokenUrl: https://eapics.ibx.com/oauth2/v2/token
          scopes:
            launch/patient: Patient context launch
            patient/*.read: Read all patient-scoped FHIR resources
            openid: OpenID Connect identity
            offline_access: Long-lived refresh token
x-refined-from:
- independence-blue-cross-cms-swagger.json
- independence-blue-cross-patient-openapi.yml
