openapi: 3.2.0
info:
  title: Independence Blue Cross Formulary API
  version: 1.0.0
  description: 'Operations tagged Formulary across 2 of this provider''s published API definitions: independence-blue-cross-cms-swagger.json, independence-blue-cross-formulary-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://eapics.ibx.com/
- url: https://eapics.ibx.com/formulary/v1/fhir
  description: Production FHIR endpoint
tags:
- name: Formulary
paths:
  /formulary/v1/fhir/metadata:
    get:
      tags:
      - Formulary
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /formulary/v1/fhir/List:
    get:
      tags:
      - Formulary
      parameters:
      - name: _getpages
        required: false
        in: query
        schema:
          type: string
      - name: _count
        required: false
        in: query
        schema:
          type: string
      - name: _getpagesoffset
        required: false
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /formulary/v1/fhir/List/{rid}:
    get:
      tags:
      - Formulary
      parameters:
      - name: rid
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /formulary/v1/fhir/MedicationKnowledge:
    get:
      tags:
      - Formulary
      parameters:
      - name: DrugName
        required: false
        in: query
        schema:
          type: string
      - name: DrugTier
        required: false
        in: query
        schema:
          type: string
      - name: DrugPlan
        required: false
        in: query
        schema:
          type: string
      - name: _getpagesoffset
        required: false
        in: query
        schema:
          type: string
      - name: _count
        required: false
        in: query
        schema:
          type: string
      - name: _getpages
        required: false
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /formulary/v1/fhir/MedicationKnowledge/{rid}:
    get:
      tags:
      - Formulary
      parameters:
      - name: rid
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/json
          content:
            application/json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /metadata:
    get:
      summary: Get Capability Statement
      operationId: get_metadata
      tags:
      - Formulary
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
    servers:
    - url: https://eapics.ibx.com/formulary/v1/fhir
      description: Production FHIR endpoint
  /List:
    get:
      summary: Search List
      operationId: get_List
      tags:
      - Formulary
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
    servers:
    - url: https://eapics.ibx.com/formulary/v1/fhir
      description: Production FHIR endpoint
  /List/{rid}:
    get:
      summary: Read List By ID
      operationId: get_List_rid
      tags:
      - Formulary
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      parameters:
      - name: rid
        in: path
        required: true
        description: FHIR resource id
        schema:
          type: string
    servers:
    - url: https://eapics.ibx.com/formulary/v1/fhir
      description: Production FHIR endpoint
  /MedicationKnowledge:
    get:
      summary: Search MedicationKnowledge
      operationId: get_MedicationKnowledge
      tags:
      - Formulary
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
    servers:
    - url: https://eapics.ibx.com/formulary/v1/fhir
      description: Production FHIR endpoint
  /MedicationKnowledge/{rid}:
    get:
      summary: Read MedicationKnowledge By ID
      operationId: get_MedicationKnowledge_rid
      tags:
      - Formulary
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      parameters:
      - name: rid
        in: path
        required: true
        description: FHIR resource id
        schema:
          type: string
    servers:
    - url: https://eapics.ibx.com/formulary/v1/fhir
      description: Production FHIR endpoint
x-refined-from:
- independence-blue-cross-cms-swagger.json
- independence-blue-cross-formulary-openapi.yml
