openapi: 3.2.0
info:
  title: Independence Blue Cross Provider Directory API
  version: 1.0.0
  description: 'Operations tagged Provider Directory across 2 of this provider''s published API definitions: independence-blue-cross-cms-swagger.json, independence-blue-cross-provider-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://eapics.ibx.com/
- url: https://eapics.ibx.com/provider/v1/fhir
  description: Production FHIR endpoint
tags:
- name: Provider Directory
paths:
  /provider/v1/fhir/metadata:
    get:
      tags:
      - Provider Directory
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /provider/v1/fhir/Location:
    get:
      tags:
      - Provider Directory
      parameters:
      - name: partof
        required: false
        in: query
        schema:
          type: string
      - name: organization
        required: false
        in: query
        schema:
          type: string
      - name: endpoint
        required: false
        in: query
        schema:
          type: string
      - name: address
        required: false
        in: query
        schema:
          type: string
      - name: type
        required: false
        in: query
        schema:
          type: string
      - name: address-city
        required: false
        in: query
        schema:
          type: string
      - name: address-state
        required: false
        in: query
        schema:
          type: string
      - name: address-postalcode
        required: false
        in: query
        schema:
          type: string
      - name: _getpages
        required: false
        in: query
        schema:
          type: string
      - name: _count
        required: false
        in: query
        schema:
          type: string
      - name: _getpagesoffset
        required: false
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /provider/v1/fhir/Location/{rid}:
    get:
      tags:
      - Provider Directory
      parameters:
      - name: rid
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /provider/v1/fhir/Practitioner:
    get:
      tags:
      - Provider Directory
      parameters:
      - name: name
        required: false
        in: query
        schema:
          type: string
      - name: family
        required: false
        in: query
        schema:
          type: string
      - name: given
        required: false
        in: query
        schema:
          type: string
      - name: _getpages
        required: false
        in: query
        schema:
          type: string
      - name: _count
        required: false
        in: query
        schema:
          type: string
      - name: _getpagesoffset
        required: false
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /provider/v1/fhir/Practitioner/{rid}:
    get:
      tags:
      - Provider Directory
      parameters:
      - name: rid
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /provider/v1/fhir/InsurancePlan:
    get:
      tags:
      - Provider Directory
      parameters:
      - name: administered-by
        required: false
        in: query
        schema:
          type: string
      - name: owned-by
        required: false
        in: query
        schema:
          type: string
      - name: coverage-area
        required: false
        in: query
        schema:
          type: string
      - name: name
        required: false
        in: query
        schema:
          type: string
      - name: plan-type
        required: false
        in: query
        schema:
          type: string
      - name: identifier
        required: false
        in: query
        schema:
          type: string
      - name: _getpages
        required: false
        in: query
        schema:
          type: string
      - name: _count
        required: false
        in: query
        schema:
          type: string
      - name: _getpagesoffset
        required: false
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /provider/v1/fhir/InsurancePlan/{rid}:
    get:
      tags:
      - Provider Directory
      parameters:
      - name: rid
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /provider/v1/fhir/HealthcareService:
    get:
      tags:
      - Provider Directory
      parameters:
      - name: location
        required: false
        in: query
        schema:
          type: string
      - name: coverage-area
        required: false
        in: query
        schema:
          type: string
      - name: organization
        required: false
        in: query
        schema:
          type: string
      - name: endpoint
        required: false
        in: query
        schema:
          type: string
      - name: name
        required: false
        in: query
        schema:
          type: string
      - name: service-category
        required: false
        in: query
        schema:
          type: string
      - name: service-type
        required: false
        in: query
        schema:
          type: string
      - name: specialty
        required: false
        in: query
        schema:
          type: string
      - name: _getpages
        required: false
        in: query
        schema:
          type: string
      - name: _count
        required: false
        in: query
        schema:
          type: string
      - name: _getpagesoffset
        required: false
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /provider/v1/fhir/HealthcareService/{rid}:
    get:
      tags:
      - Provider Directory
      parameters:
      - name: rid
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /provider/v1/fhir/OrganizationAffiliation:
    get:
      tags:
      - Provider Directory
      parameters:
      - name: primary-organization
        required: false
        in: query
        schema:
          type: string
      - name: participating-organization
        required: false
        in: query
        schema:
          type: string
      - name: location
        required: false
        in: query
        schema:
          type: string
      - name: service
        required: false
        in: query
        schema:
          type: string
      - name: network
        required: false
        in: query
        schema:
          type: string
      - name: endpoint
        required: false
        in: query
        schema:
          type: string
      - name: role
        required: false
        in: query
        schema:
          type: string
      - name: specialty
        required: false
        in: query
        schema:
          type: string
      - name: _getpages
        required: false
        in: query
        schema:
          type: string
      - name: _count
        required: false
        in: query
        schema:
          type: string
      - name: _getpagesoffset
        required: false
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /provider/v1/fhir/OrganizationAffiliation/{rid}:
    get:
      tags:
      - Provider Directory
      parameters:
      - name: rid
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /provider/v1/fhir/Organization:
    get:
      tags:
      - Provider Directory
      parameters:
      - name: partof
        required: false
        in: query
        schema:
          type: string
      - name: endpoint
        required: false
        in: query
        schema:
          type: string
      - name: address
        required: false
        in: query
        schema:
          type: string
      - name: name
        required: false
        in: query
        schema:
          type: string
      - name: type
        required: false
        in: query
        schema:
          type: string
      - name: coverage-area
        required: false
        in: query
        schema:
          type: string
      - name: _getpages
        required: false
        in: query
        schema:
          type: string
      - name: _count
        required: false
        in: query
        schema:
          type: string
      - name: _getpagesoffset
        required: false
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /provider/v1/fhir/Organization/{rid}:
    get:
      tags:
      - Provider Directory
      parameters:
      - name: rid
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /provider/v1/fhir/PractitionerRole:
    get:
      tags:
      - Provider Directory
      parameters:
      - name: practitioner
        required: false
        in: query
        schema:
          type: string
      - name: organization
        required: false
        in: query
        schema:
          type: string
      - name: location
        required: false
        in: query
        schema:
          type: string
      - name: service
        required: false
        in: query
        schema:
          type: string
      - name: network
        required: false
        in: query
        schema:
          type: string
      - name: endpoint
        required: false
        in: query
        schema:
          type: string
      - name: role
        required: false
        in: query
        schema:
          type: string
      - name: specialty
        required: false
        in: query
        schema:
          type: string
      - name: _getpages
        required: false
        in: query
        schema:
          type: string
      - name: _count
        required: false
        in: query
        schema:
          type: string
      - name: _getpagesoffset
        required: false
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /provider/v1/fhir/PractitionerRole/{rid}:
    get:
      tags:
      - Provider Directory
      parameters:
      - name: rid
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /provider/v1/fhir/Endpoint:
    get:
      tags:
      - Provider Directory
      parameters:
      - name: organization
        required: false
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /provider/v1/fhir/Endpoint/{rid}:
    get:
      tags:
      - Provider Directory
      parameters:
      - name: rid
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          x-amf-mediaType: application/fhir+json
          content:
            application/fhir+json:
              schema:
                example: {}
    servers:
    - url: https://eapics.ibx.com/
  /metadata:
    get:
      summary: Get Capability Statement
      operationId: get_metadata
      tags:
      - Provider Directory
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
    servers:
    - url: https://eapics.ibx.com/provider/v1/fhir
      description: Production FHIR endpoint
  /Location:
    get:
      summary: Search Location
      operationId: get_Location
      tags:
      - Provider Directory
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
    servers:
    - url: https://eapics.ibx.com/provider/v1/fhir
      description: Production FHIR endpoint
  /Location/{rid}:
    get:
      summary: Read Location By ID
      operationId: get_Location_rid
      tags:
      - Provider Directory
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      parameters:
      - name: rid
        in: path
        required: true
        description: FHIR resource id
        schema:
          type: string
    servers:
    - url: https://eapics.ibx.com/provider/v1/fhir
      description: Production FHIR endpoint
  /Practitioner:
    get:
      summary: Search Practitioner
      operationId: get_Practitioner
      tags:
      - Provider Directory
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
    servers:
    - url: https://eapics.ibx.com/provider/v1/fhir
      description: Production FHIR endpoint
  /Practitioner/{rid}:
    get:
      summary: Read Practitioner By ID
      operationId: get_Practitioner_rid
      tags:
      - Provider Directory
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      parameters:
      - name: rid
        in: path
        required: true
        description: FHIR resource id
        schema:
          type: string
    servers:
    - url: https://eapics.ibx.com/provider/v1/fhir
      description: Production FHIR endpoint
  /InsurancePlan:
    get:
      summary: Search InsurancePlan
      operationId: get_InsurancePlan
      tags:
      - Provider Directory
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
    servers:
    - url: https://eapics.ibx.com/provider/v1/fhir
      description: Production FHIR endpoint
  /InsurancePlan/{rid}:
    get:
      summary: Read InsurancePlan By ID
      operationId: get_InsurancePlan_rid
      tags:
      - Provider Directory
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      parameters:
      - name: rid
        in: path
        required: true
        description: FHIR resource id
        schema:
          type: string
    servers:
    - url: https://eapics.ibx.com/provider/v1/fhir
      description: Production FHIR endpoint
  /HealthcareService:
    get:
      summary: Search HealthcareService
      operationId: get_HealthcareService
      tags:
      - Provider Directory
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
    servers:
    - url: https://eapics.ibx.com/provider/v1/fhir
      description: Production FHIR endpoint
  /HealthcareService/{rid}:
    get:
      summary: Read HealthcareService By ID
      operationId: get_HealthcareService_rid
      tags:
      - Provider Directory
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      parameters:
      - name: rid
        in: path
        required: true
        description: FHIR resource id
        schema:
          type: string
    servers:
    - url: https://eapics.ibx.com/provider/v1/fhir
      description: Production FHIR endpoint
  /OrganizationAffiliation:
    get:
      summary: Search OrganizationAffiliation
      operationId: get_OrganizationAffiliation
      tags:
      - Provider Directory
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
    servers:
    - url: https://eapics.ibx.com/provider/v1/fhir
      description: Production FHIR endpoint
  /OrganizationAffiliation/{rid}:
    get:
      summary: Read OrganizationAffiliation By ID
      operationId: get_OrganizationAffiliation_rid
      tags:
      - Provider Directory
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      parameters:
      - name: rid
        in: path
        required: true
        description: FHIR resource id
        schema:
          type: string
    servers:
    - url: https://eapics.ibx.com/provider/v1/fhir
      description: Production FHIR endpoint
  /Organization:
    get:
      summary: Search Organization
      operationId: get_Organization
      tags:
      - Provider Directory
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
    servers:
    - url: https://eapics.ibx.com/provider/v1/fhir
      description: Production FHIR endpoint
  /Organization/{rid}:
    get:
      summary: Read Organization By ID
      operationId: get_Organization_rid
      tags:
      - Provider Directory
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      parameters:
      - name: rid
        in: path
        required: true
        description: FHIR resource id
        schema:
          type: string
    servers:
    - url: https://eapics.ibx.com/provider/v1/fhir
      description: Production FHIR endpoint
  /PractitionerRole:
    get:
      summary: Search PractitionerRole
      operationId: get_PractitionerRole
      tags:
      - Provider Directory
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
    servers:
    - url: https://eapics.ibx.com/provider/v1/fhir
      description: Production FHIR endpoint
  /PractitionerRole/{rid}:
    get:
      summary: Read PractitionerRole By ID
      operationId: get_PractitionerRole_rid
      tags:
      - Provider Directory
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      parameters:
      - name: rid
        in: path
        required: true
        description: FHIR resource id
        schema:
          type: string
    servers:
    - url: https://eapics.ibx.com/provider/v1/fhir
      description: Production FHIR endpoint
  /Endpoint:
    get:
      summary: Search Endpoint
      operationId: get_Endpoint
      tags:
      - Provider Directory
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
    servers:
    - url: https://eapics.ibx.com/provider/v1/fhir
      description: Production FHIR endpoint
  /Endpoint/{rid}:
    get:
      summary: Read Endpoint By ID
      operationId: get_Endpoint_rid
      tags:
      - Provider Directory
      responses:
        '200':
          description: OK
          content:
            application/fhir+json: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      parameters:
      - name: rid
        in: path
        required: true
        description: FHIR resource id
        schema:
          type: string
    servers:
    - url: https://eapics.ibx.com/provider/v1/fhir
      description: Production FHIR endpoint
x-refined-from:
- independence-blue-cross-cms-swagger.json
- independence-blue-cross-provider-openapi.yml
